body{
  background-color: gray;
}
button{
  position: absolute;
  top: 17px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul{
  display: none;
  list-style-type: none;
}
button:focus{
	outline:none;
}